@using FireForce.Shared.Enums.Discriminadores;
@using FireForce.Data.Models.Otros.Partes;

@*Servicios Utilizados*@
@using FireForce.Client.Services
@inject IMessageService message
@inject IParteVehiculoService ParteVehiculoService

<Form @ref="@_form"
      Model="@agregarParteVehiculoViewModel"
      Loading="_isLoading"
      Layout="FormLayout.Vertical"
      Class="modal-crear-fuerza-form"
      OnFinish="OnFinish">
    <Row Class="modal-crear-fuerza-row" Gutter="16">
        <FormItem Label="Nombre"
                  Class="modal-crear-fuerza-form-item">
            <AntDesign.Col Span="24">
                <Input @bind-Value="@agregarParteVehiculoViewModel.Nombre"
                       AllowClear Size="InputSize.Large" />
            </AntDesign.Col>
        </FormItem>
    </Row>
    <Row Class="modal-crear-fuerza-row" Gutter="16">
        <AntDesign.Col Span="24">
            <FormItem Label="Tipo de Parte"
                      Class="modal-crear-fuerza-form-item">
                <EnumSelect TEnum="CategoriaParteVehiculo ?" @bind-Value="@agregarParteVehiculoViewModel.Categoria" AllowClear Size="InputSize.Large" />
            </FormItem>
        </AntDesign.Col>
    </Row>

    <div class="modal-crear-fuerza-footer">
        <FormItem>
            <Button Style="margin-right: 8px;"
                    OnClick="CancelarAsync"
                    Danger>
                Cancelar
            </Button>
            <Button Type="ButtonType.Primary" HtmlType="submit" Disabled="!_form.IsModified">
                Editar Parte del Vehículo
            </Button>
        </FormItem>
    </div>
</Form>

@code {
    [Parameter] public required int ParteVehiculoId { get; set; }
    [Parameter] public required EventCallback OnCancel { get; set; }

    private EditarParteVehiculoViewModel agregarParteVehiculoViewModel = new();
    private Form<EditarParteVehiculoViewModel> _form = new();
    private bool _isLoading = true;

    public class EditarParteVehiculoViewModel
    {
        [Required(ErrorMessage = "El nombre de la parte es obligatorio.")]
        [StringLength(100, ErrorMessage = "El nombre no puede exceder los 100 caracteres.")]
        public string? Nombre { get; set; }

        [Required(ErrorMessage = "Debe seleccionar la categoría de la parte del vehículo.")]
        public CategoriaParteVehiculo? Categoria { get; set; }
    }

    public async Task CancelarAsync()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync(null);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await CargarParteVehiculoAsync();
    }

    private async Task OnFinish(EditContext editContext)
    {
        _isLoading = true;

        try
        {
            // Preparamos el modelo para enviar al servicio
            var nuevaParteVehiculo = new ParteVehiculo
            {
                Id = ParteVehiculoId,
                Nombre = agregarParteVehiculoViewModel.Nombre!,
                Tipo = agregarParteVehiculoViewModel.Categoria!.Value
            };

            // Llamamos al servicio para editar la parte del vehículo
            message.Success("Parte del vehículo editada exitosamente.");
            await CancelarAsync();
        }
        catch (Exception ex)
        {
            message.Error($"Error: {ex.Message}");
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task CargarParteVehiculoAsync()
    {
        _isLoading = true;
        try
        {
            var parteVehiculo = await ParteVehiculoService.ObtenerParteVehiculoPorIdAsync(ParteVehiculoId, asNoTrack: false);

            if (parteVehiculo != null)
            {
                agregarParteVehiculoViewModel.Nombre = parteVehiculo.Nombre;
                agregarParteVehiculoViewModel.Categoria = parteVehiculo.Tipo;
            }
            else
            {
                message.Error("No se encontró la parte del vehículo.");
                await CancelarAsync();
            }
        }
        catch (Exception ex)
        {
            message.Error($"Error al cargar la parte del vehículo: {ex.Message}");
            await CancelarAsync();
        }
        finally
        {
            _isLoading = false;
        }
    }
}