.inpt-cont--lbl {
    min-width: 170px;
    text-align: start;
    font-weight: bold;
    overflow: hidden !important;
}

.inpt-cont {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    padding: .3em 0;
    width: 100%;
    overflow: hidden !important;
}

.inpt-cont-inline {
    min-width: 170px;
    display: flex;
    align-items: flex-end;
    gap: 1em;
    overflow: hidden !important;
    height: 100%;
}

.botonesCont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ant-table-title {
    height: 6.5em !important;
}

@media print {
    .botonesCont, .ant-table-title, .ant-table-pagination li, #ant-blazor-6429cd39-8cd9-4a32-bb8a-5e758f25fd97,
    .ant-layout-header, .navbar-brand, .ant-layout-has-sider, .ant-table-wrapper div{
        display: none !important;
    }
}