@page "/"
@namespace Vista.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />
<head>
<link href="YourAssemblyName.styles.css" rel="stylesheet">
<link href="path_to_bootstrap.min.css" rel="stylesheet" integrity="if_needed" />"
<link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
<script src="_content/AntDesign/js/ant-design-blazor.js"></script>
</head>
<body>
<script src="_content/BlazorStrap/popper.min.js"></script>
<script src="_content/BlazorStrap/blazorstrap.js"></script>
</body>