@page "/"

<PageHeader>
    <PageHeaderTitle>Pagina para que me devuelvan la plata</PageHeaderTitle>
    <PageHeaderSubtitle>Porfavor la necesito</PageHeaderSubtitle>
    <PageHeaderTags>
        <Tag PresetColor="@PresetColor.Blue">Running</Tag>
    </PageHeaderTags>
    <PageHeaderExtra>
        <Button>Operation</Button>
        <Button>Operation</Button>
        <Button Type="@ButtonType.Primary">Primary</Button>
    </PageHeaderExtra>
    <PageHeaderContent>
        <Row Type="flex">
            <Statistic Title="Otra cosa " Value=@("Pending")></Statistic>
            <Statistic Title="Plata que debe el gobierno " Value="332994544.08" Prefix="US$" Style="margin: 0 32px"></Statistic>
            <Statistic Title="La plata que me debe mayi" Value="334545.08" Prefix="$"></Statistic>
        </Row>
    </PageHeaderContent>
</PageHeader>











@code {
    private string _title = "Pagina Bomberos Voluntarios de Chivilcoy";

    RenderFragment icon =@<Icon Type="backward" />;
    
}