@page "/movil"
<h3>Moviles</h3>
<BSContainer>
    <BSRow Align="Align.Start">
        <BSCol>
            <BSCard CardType="CardType.Card" style="width: 18rem;">
                <BSCard CardType="CardType.Image" src="/Moviles/Movil13(2).jpg" alt="Card image cap" />
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Movil 13</BSCard>
                    <BSCard CardType="CardType.Text">
                        Some quick example text to build on the card title and make up the bulk of the card's content
                    </BSCard>
                    <BSButton Color="BSColor.Primary">Go Somewhere</BSButton>
                </BSCard>
            </BSCard>
        </BSCol>

        <BSCol>
            <BSCard CardType="CardType.Card" style="width: 18rem;">
                <BSCard CardType="CardType.Image" src="/Moviles/Movil13.jpg" alt="Card image cap" />
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Movil 13</BSCard>
                    <BSCard CardType="CardType.Text">
                        Some quick example text to build on the card title and make up the bulk of the card's content
                    </BSCard>
                    <BSButton Color="BSColor.Primary">Go Somewhere</BSButton>
                </BSCard>
            </BSCard>
        </BSCol>
    </BSRow>
    <div class="col-4"></div>
</BSContainer>
<h3>Moviles</h3>
@code {

}
