@inject IDbContextFactory<BomberosDbContext> DbFactory
@inject NavigationManager navigationManager
@page "/moviles/agregar"
<style>
    #crear-movil{
        background-color: #C43A3A;
        color:white;
        font-size:20px;
        font-family: calibri light;
        border: 0px;
        border-radius: 8px;
    }

    #blancoA {
        width: 100%;
        padding:15px;
    }
    #estilo{
        border:1px;
        border-radius:8px;
        background-color: #AFAFAF;    
    }
    #texto{
        font-size: 20px;
        font-family: calibri light;
        Font-Weight: bold;
    }
</style>
@if (movilView is not null)
{
    <BSContainer id="Estilo">
        <BSContainer id="blancoA">

    </BSContainer>
    <BSRow>
        <BSCol Column="2">

        </BSCol>
        <BSCol Column="4">
    <label id="texto">Marca:</label>
    <input id="estilo" type="text" @bind="movilView.Marca" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Modelo:</label>
    <input id="estilo" type="text" @bind="movilView.Modelo" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Año:</label>
    <input id="estilo" type="text" @bind="movilView.Año" />
    <BSContainer id="blancoA">

    </BSContainer>
    <InputFile OnChange="SubirFoto" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Patente:</label>
    <input id="estilo" type="text" @bind="movilView.Patente" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Tipo:</label>
    <input id="estilo" type="text" @bind="movilView.Tipo" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Nº movil:</label>
    <input id="estilo" type="text" @bind="movilView.NumeroMovil" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Nº motor:</label>
    <input id="estilo" type="text" @bind="movilView.NumeroMotor" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Nº chasis:</label>
    <input id="estilo" type="text" @bind="movilView.NumeroChasis" />
    <BSContainer id="blancoA">

    </BSContainer>
    <select id="estilo" @bind="movilView.Estado">
        <option id="estilo" value="@TipoEstadoMovil.Activo">Activo</option>
        <option id="estilo" value="@TipoEstadoMovil.Inactivo">Inactivo</option>
        <option id="estilo" value="@TipoEstadoMovil.Reparacion">Reparacion</option>
        <option id="estilo" value="@TipoEstadoMovil.Limpieza">Limpieza</option>
    </select>
        </BSCol>
        <BSCol Column="4">
    <BSContainer id="blancoA">

    </BSContainer>
    <h5 id="texto">Seguro</h5>

    <label id="texto">Compañia:</label>
    <input id="estilo" type="text" @bind="seguroView.CompañiaAseguradora" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Nº poliza:</label>
    <input id="estilo" type="text" @bind="seguroView.NumeroDePoliza" />
    <BSContainer id="blancoA">

    </BSContainer>
    <label id="texto">Fecha de vencimiento:</label>
    <input id="estilo" type="date" @bind="seguroView.FechaDeVencimiento" />
    <BSContainer id="blancoA">

    </BSContainer>
    <button id="crear-movil" @onclick="SubirMovil">Crear movil</button>
        </BSCol>
        <BSCol Column="2">

        </BSCol>
    </BSRow>
    </BSContainer>
}
<BSContainer id="blancoA">

</BSContainer>

@code {

    public class MovilViewModel
    {
        [Required, StringLength(255)]
        public string Marca { get; set; }
        [Required, StringLength(255)]
        public string Modelo { get; set; }
        public int Año { get; set; }
        [Required, StringLength(255)]
        public string Patente { get; set; }
        [Required, StringLength(255)]
        public string Tipo { get; set; }
        [Required, StringLength(255)]
        public string NumeroMovil { get; set; }
        [Required, StringLength(255)]
        public string NumeroMotor { get; set; }
        [Required, StringLength(255)]
        public string NumeroChasis { get; set; }
        [Required, StringLength(255)]
        public TipoEstadoMovil Estado { get; set; }
    }
    public class SeguroViewModel
    {
        [Required, StringLength(255)]
        public string CompañiaAseguradora { get; set; }
        [Required, StringLength(255)]
        public string NumeroDePoliza { get; set; }
        public DateTime FechaDeVencimiento { get; set; }
    }
    public class ImagenViewModel
    {
        public string Base64 { get; set; }
        [Required, StringLength(255)]
        public string TipoImagen { get; set; }
        [Required, StringLength(255)]
        public string Nombre { get; set; }
    }

    public ImagenViewModel imagenView { get; set; } = new();
    public MovilViewModel movilView { get; set; } = new();
    public SeguroViewModel seguroView { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using var db = DbFactory.CreateDbContext();
    }

    private async void SubirFoto(InputFileChangeEventArgs e)
    {
        string imagenBase64 = await Base64Helper.StreamToBase64(e.File.OpenReadStream());

        imagenView.Base64 = imagenBase64;
        imagenView.TipoImagen = e.File.ContentType;
        imagenView.Nombre = e.File.Name;
    }

    private async void SubirMovil()
    {
        using var db = DbFactory.CreateDbContext();

        if (movilView is not null)
        {
            Movil? comprobante = await db.Moviles.Where(m => m.NumeroMovil == movilView.NumeroMovil).SingleOrDefaultAsync();

            if (comprobante is null)
            {
                Movil movil = new Movil()
                    {
                        Marca = movilView.Marca,
                        Modelo = movilView.Modelo,
                        Año = movilView.Año,
                        Patente = movilView.Patente,
                        Tipo = movilView.Tipo,
                        Imagen = new()
                        {
                            NombreImagen = imagenView.Nombre,
                            TipoImagen = imagenView.TipoImagen,
                            Base64Imagen = imagenView.Base64
                        },
                        NumeroChasis = movilView.NumeroChasis,
                        NumeroMotor = movilView.NumeroMotor,
                        NumeroMovil = movilView.NumeroMovil,
                        Estado = movilView.Estado,
                        Seguro = new()
                        {
                            CompañiaAseguradora = seguroView.CompañiaAseguradora,
                            FechaDeVencimineto = seguroView.FechaDeVencimiento,
                            NumeroDePoliza = seguroView.NumeroDePoliza
                        }
                    };

                db.Moviles.Add(movil);
                await db.SaveChangesAsync();
            }
        }

        StateHasChanged();
    }
}
