@page "/InicioSesion"

<h3>InicioSesion</h3>
<div class="contenedor">
    <h1> Resgistrate</h1>
    <div class="input container">
        <input type="text" placeholder="Nombre Completo" />
    </div>
   
    <div class="input container">
        <i class="fa-thin fa-envelope"></i>
        <input type="text" placeholder="Correo Electronico"/>
    </div>
    <div class="input container">
        <i class="fa-thin fa-user"></i>
        <input type="password" placeholder="Contraseña" />
    </div>
</div>

@code {

}