@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/bomberos"

<div class="Titulo">
    <h3> Bomberos</h3>
</div>
<BSContainer id="agregar-bombero">
    <a @onclick="@(() => { navigationManager.NavigateTo($"/bomberos/agregar"); })">
        <BSButton id="button-center" Color="BSColor.Danger">Agregar Bombero +</BSButton>
    </a>
</BSContainer>

@code {

}