@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/moviles"

@if (moviles is not null)
{
    <BSContainer Container="Container.Medium">
        <div class="Titulo">
            <h3> Moviles </h3>
        </div>
    </BSContainer>
    <BSContainer id="Cartas">
        <BSRow Align="Align.Start">
            @foreach(Movil m in moviles)
            {
                <BSCol>
                    <BSContainer id="Cartas" Container="Container.Fluid">
                        <BSCard CardType="CardType.Card" style="width: 18rem;">
                            <BSCard CardType="CardType.Image" src="@CargarImage(m)" alt="Card image cap" />
                            <BSCard CardType="CardType.Body">
                                <BSCard CardType="CardType.Title">Movil @m.NumeroMovil</BSCard>
                                <a @onclick="@(() => { navigationManager.NavigateTo($"/moviles/movil/{m.VehiculoId}"); })">
                                <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                                </a>
                            </BSCard>
                        </BSCard>
                    </BSContainer>
                </BSCol>
            }
        </BSRow>
    </BSContainer>
}
else
{
    <h5>No hay moviles</h5>
}
@code {
    public Movil[]? moviles;

    protected override async Task OnInitializedAsync()
    {
        using var db = DbFactory.CreateDbContext();

        moviles = await db.Moviles.ToArrayAsync();
    }

    public string CargarImage(Movil movil)
    {
        using var db = DbFactory.CreateDbContext();

        string src = "/";

        ImagenMovil? imagen = db.ImagenesMoviles.Where(i => i.ImagenId == movil.ImagenId).SingleOrDefault();

        if (imagen is not null)
        {
            src = $"data:{imagen.TipoImagen}; base64,{imagen.Base64Imagen}";
        }

        return src;
    }
}


