@page "/movil"
<BSContainer Container="Container.Medium">
    <div class="Titulo ">
        <h3> Moviles </h3>
    </div>
</BSContainer>
<BSContainer id="Cartas">
    <BSRow Align="Align.Start">
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil13(2).jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <a href="/Movil13"
                        <BSCard CardType="CardType.Title">Movil 13</BSCard>
                        </a>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil13"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>

        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil17.JPG" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 17</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil17"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil18.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">    
                        <BSCard CardType="CardType.Title">Movil 18</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil18"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
    </BSRow>
</BSContainer>
<BSContainer id="Cartas">
    <BSRow Align="Align.Start">
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil21.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 21</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil21"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>

        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil22.JPG" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 22</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil22"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil24(2).jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 24</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil24"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
    </BSRow>
</BSContainer>

<BSContainer id="Cartas">
    <BSRow Align="Align.Start">
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil25.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 25</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil25"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>

        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil26.JPG" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 26</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil26"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil27.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 27</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil27"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
    </BSRow>
</BSContainer>

<BSContainer id="Cartas">
    <BSRow Align="Align.Start">
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil28.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 28</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil28"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>

        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil29.JPG" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 29</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil29"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil31.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 31</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil31"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
    </BSRow>
</BSContainer>

<BSContainer id="Cartas">
    <BSRow Align="Align.Start">
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil32.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 32</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil32"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>

        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/Movil33.JPG" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil 33</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/Movil33"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
        <BSCol>
            <BSContainer id="Cartas" Container="Container.Fluid">
                <BSCard CardType="CardType.Card" style="width: 18rem;">
                    <BSCard CardType="CardType.Image" src="/Moviles/MovilCamioneta.jpg" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">Movil Camioneta</BSCard>
                        <BSCard CardType="CardType.Text">
                            Movil encargado a ""
                        </BSCard>
                        <a href="/MovilCamioneta"
                        <BSButton Color="BSColor.Danger">Ver Información</BSButton>
                        </a>
                    </BSCard>
                </BSCard>
            </BSContainer>
        </BSCol>
    </BSRow>
</BSContainer>
@code {

}

