@page "/Registro"
<div class="contenedor">
    <h1> Resgistrate</h1>
    <div class="input container">
        <input type="text" placeholder="Nombre Completo" />
    </div>

    <div class="input container">
        <input type="text" placeholder="Correo Electronico" />
    </div>
    <div class="input container">
        <input type="password" placeholder="Contraseña" />
    </div>
    <input type="submit" placeholder="Registrate"/>
    <ion-icon name="man-outline"></ion-icon>
</div>

@code {

}