@inherits LayoutComponentBase

<PageTitle> Bomberos Chivilcoy</PageTitle>
<nav class="navbar navbar-expand-lg navbar-dark py-3" id="BarraMain">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" style="" href="/"><img class="Logo"  src="/Imagenes/Logo1.png"/> Bomberos Voluntarios Chivilcoy</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ms-auto my-0 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="\legajo">Legajos</a></li>
                <li class="nav-item"><a class="nav-link" href="salida">Salidas</a></li>
                <li class="nav-item"><a class="nav-link" href="bombero">Bomberos</a></li>
                <li class="nav-item"><a class="nav-link" href="moviles">Moviles</a></li>
            </ul>
        </div>
    </div>
</nav>

<BSContainer Container="Container.ExtraExtraLarge">
    @Body
</BSContainer>

<Footer Class="footer text-center" id="FooterCopy">
    <BSContainer>
            <div class="copyright py-4 text-center text-white">
                <div class="container"><small>Copyright &copy;2022 <b>Bomberos Voluntarios Chivilcoy</b> - Todos los Derechos Reservados.</small></div>
            </div>
    </BSContainer>
</Footer>
