/* Estilo del botón personalizado */
.boton_p {
	background-color: #732D2D !important;
	color: white !important;
	border-radius: 5px 5px !important;
}

.steps-action {
	margin-top: 10px !important;
	display: flex;
	justify-content: flex-end;
	gap: 5px;
	margin-left: 254px;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
	text-decoration: none;
	background: #40a9ff !important;
}

.ant-btn:hover, .ant-btn:focus {
	color: white !important;
	border-color: #40a9ff !important;
	background: #40a9ff !important;
}

.ant-carousel .slick-dots li {
	display: none !important;
}

.ant-form-item-control-input-content, .ant-form-item-label {
	padding: 0 !important;
}

.ant-form-item-row:nth-child(2) {
	display: flex !important;
}

.ant-input-number {
	width: auto !important;
}

.steps-content {
	margin-top: 16px;
	border: 1px dashed #e9e9e9;
	border-radius: 6px;
	background-color: #fafafa;
	min-height: 200px;
	text-align: center;
	padding-top: 80px;
}

.steps-action {
	margin-top: 24px;
	display: flex;
	justify-content: flex-end;
	gap: 5px;
}

.inpt-cont {
	min-width: 100px;
	display: flex;
	flex-direction: column;
	padding: .3em 0;
	width: 100%;
	overflow: hidden !important;
}

.inpt-cont-inline {
	min-width: 170px;
	display: flex;
	gap: 1em;
	padding: .3em 0;
	overflow: hidden !important;
}

.inpt-cont--lbl {
	min-width: 170px;
	text-align: start;
	font-weight: bold;
	overflow: hidden !important;
}

.ant-table-cell {
	text-align: center !important;
}

@media screen and (max-width: 450px) {
	.contenedor {
		padding: 0 21px !important;
	}

	.ant-picker-datetime-panel {
		flex-direction: column;
	}

	.ant-picker-panel-container {
		overflow: auto !important;
	}

	.map-container {
		width: 100%;
		height: auto;
	}
}

.ant-checkbox-input:checked + .ant-checkbox-inner {
	background-color: #4CAF50 !important;
	border-color: #4CAF50 !important;
}

.slick-contenedor {
	width: 100%;
	padding: 10px;
	display: flex !important;
	flex-direction: column;
	overflow: hidden !important;
}

.slick-contenedor-D {
	animation: moverDerecha .5s ease forwards;
	transition: all .5s ease;
}

.slick-contenedor-I {
	animation: moverIzquierda .5s ease forwards;
	transition: all .5s ease;
}

@keyframes moverDerecha {
	0% {
		transform: translateX(1000px);
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes moverIzquierda {
	0% {
		transform: translateX(-1000px);
	}

	100% {
		transform: translateX(0px);
	}
}

@media screen and (width < 500px) {
	body {
		align-items: normal !important;
	}
}