@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>
<BSNavbar Color="BSColor.Danger">
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand Url="javascript:void(0);">
            <img src="/Imagenes/Logo.png" width="30" class="d-inline-block align-text-top" />
             Bomberos Voluntarios De Chivilcoy
        </BSNavbarBrand>
    </BSContainer>
</BSNavbar>
<div>
    @Body
</div>


