@inherits LayoutComponentBase

<PageTitle> Bomberos Chivilcoy</PageTitle>
<nav class="navbar navbar-expand-lg navbar-dark py-3" id="BarraMain">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" style="" href="/"><img class="Logo"  src="/Imagenes/Logo1.png"/> Bomberos Voluntarios Chivilcoy</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ms-auto my-0 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="\legajo">Legajos</a></li>
                <li class="nav-item"><a class="nav-link" href="salida">Salidas</a></li>
                <li class="nav-item"><a class="nav-link" href="bombero">Bomberos</a></li>
                <li class="nav-item"><a class="nav-link" href="movil">Moviles</a></li>
            </ul>
        </div>
    </div>
</nav>

<BSContainer Container="Container.ExtraExtraLarge">
    @Body
</BSContainer>

<Footer Class="footer text-center" id="FooterM">
    <BSContainer Id="GrupoT" Container="Container.Fluid">
        <BSRow>
            <div class="Grupo1 col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase text-center mb-4">Contactanos</h4>
            <li><a>Argentina, Chivilcoy, 6620</a></li>
            <li><a>Pueyrredon 162</a></li>
            <li><a>Tel: (2346)69-7237</a></li>
            <li><a>danigariboldi_@@hotmail.com</a></li>
            <li><a>Para emergencias (2346)42-4319</a></li>
            </div>
            <div class="Grupo2 col-lg-6 mb-5 mb-lg-0">

                <h4 class="text-uppercase text-center mb-4">Nuestras redes sociales</h4>
                <ul>
                    <li><a><Icon Type="facebook" Theme="outline" /><BSLink> Facebook</BSLink></a> </li>
                    <li><a><Icon Type="instagram" Theme="outline" /><BSLink> Instagram</BSLink></a> </li>
                </ul>
            </div>
        </BSRow>
    </BSContainer>
</Footer>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy;2022 <b>Bomberos Voluntarios Chivilcoy</b> - Todos los Derechos Reservados.</small></div>
</div>


